.lobibox-notify-msg {
    max-height: 150px !important;
}

.lobibox-notify-body {
    font-size: 13px !important;
}

.lobibox-notify-title {
    font-size: 18px !important;
}

#appVersionInfo {
    position: absolute;
    bottom: 0.5em;
    left: 1em;
}